* {
  padding: 10;
  margin: 10;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#bg {
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  word-wrap: break-word;
  align-content: space-around;
  background-color: yellow;
}

h2 {
  font-size: 30px;
  color: black;
}
div button {
  margin: 10px;
}
#mob {
  border: none;
  background-color: transparent;
  padding: 10px;
}
#mob1 {
  border: none;
  background-color: transparent;
  font-size: 20px;
}
#mob1:hover {
  background-color: black;
  transition: 1s ease;
  color: white;
}

#mob i {
  padding: 20px;
}

#block1 {
  border: yellow solid 3px;
  border-radius: 8px;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  margin: 10px;
  position: relative;
}
#block1 input {
  border: black solid 3px;
  border-radius: 8px;
  margin: 5px;
  height: 20px;
  width: 70%;
}
#block {
  border: yellow solid 3px;
  border-radius: 8px;
  /* transition: margin-right 2s; */
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.3);
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}

#block button:hover {
  background-color: yellow;
  transition: 2s ease;
}

#block button:hover,
#block button.active {
  background-color: yellow;
}

#block button.active::after,
#block button:hover::after {
  background-color: yellow;
}

.faq {
  text-align: left;
  margin-top: 40px;
}

.question {
  font-weight: bold;
  margin-bottom: 10px;
}

.answer {
  margin-bottom: 20px;
}

.button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
}

.button:hover {
  background-color: #45a049;
  border: 2px solid #45a049;
}

#myBtn {
  display: flex; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

footer {
  background-color: black;
  color: white;
  padding: 10px;
  margin: 20px;
}
footer table td {
  padding: 10px 70px;
  margin: 10px;
}
footer a {
  text-decoration: none;
  padding: 10px;
  color: white;
}
